@import 'variable';
@import 'mixin';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.title {
    width: 80%;
    margin: 20px auto;
    width: 35vw;
    height: 35vw;
    background: url(/img/upDown.png);
    background-size: contain;
    background-repeat: no-repeat;
    h1 {
        font-family: 'Vitro_core';
        color: $title-color;
        word-break: keep-all;
        -webkit-text-stroke: 3px $basic-color;
        line-height: 1.2;
        @include desktop {
            font-size: 4em;
            line-height: 1.2;
        }
        @include tablet {
            font-size: 2.3em;
            -webkit-text-stroke: 1px $basic-color;
            line-height: 1;
        }
    }
}

.buttonArea {
    width: 80%;
    p {
        font-family: 'Pretendard-Regular';
    }
    #result {
        @include desktop {
            font-size: 2em;
        }
        @include tablet {
            font-size: 1.2em;
        }
    }
    #count {
        font-size: 1.2em;
        color: $title-color;
    }
    #userInput {
        margin: 10px 0;
        padding: 10px 0;
        width: 50%;
    }
    div.button {
        margin: 10px 0;
        width: 100%;
        button {
            font-family: 'Vitro_core';
            width: 20%;
            height: 40px;
            border: none;
            border-radius: 4px;
            letter-spacing: 2px;
            font-size: 0.6em;
        }
        #playButton {
            background: $goBtn-bg;
            color: $white;
        }
        #resetBtn {
            background: $resetBtn-bg;
            color: $basic-color;
        }
    }
}

@include desktop {}